/* NAVBAR */
.navbar {
  background-color: orange;
  padding: 15px 30px;
  box-shadow: 0 4px 12px rgba(255, 165, 0, 0.6);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.navbar li:hover {
  color:yellow;
}

/* WELCOME BOX */
.welcome {
  background: orange;
  color: white;
  text-align: center;
  padding: 18px;
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  width: 80%;
}

/* HEADER */
h2 {
  background-color: #fff3e0;
  color: yellow;
  text-align: center;
  padding: 12px;
  margin: 20px auto;
  width: 70%;
  border-radius: 8px;
}
