*{
    margin-top: 5px;
    
}
header{
    background-color: chocolate;
    color: white;
}
.ol{
    display: flex;
    justify-content: space-evenly;
    list style-type: none;
    flex direction: row;
    padding: 10px;
}
.li{
    text-decoration: none;
    color: white;
    padding: 5px;

}
.li:hover{
    background-color:white;
    color:black;
    border-radius:6px;
   

}